body{
    background-color: #282c34;
}
.App{
    color: white;
    min-height: 100vh;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
}
}
.App-link {
    color: #61dafb;
}
@keyframes App-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}
.review{
    width: 600px;
    border: 1px white solid;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}
.reviewName {
    text-align: left;
}
.icons i{
    margin-right: 10px;
}
.sort, .filter{
    width: 600px;
    margin: auto;
    margin-bottom: 20px;
}
.sort span, .filter span{
    margin-right: 10px;
}
.fusion{
    display: inline-flex;
    justify-content: space-between;
}
textarea{
    width: 580px;
    height: 100px;
    background-color: #282c34;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.new{
    position: absolute;
    top: 40px;
    right: 40px;
}
.new span{
    margin-right: 20px;
}