.App{
    color: white;
}
.App-link {
    color: #61dafb;
}
.form-select option{
    color: white;
}
.review{
    width: 600px;
    border: 1px white solid;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
}
.userButton{
    position: absolute;
    bottom: -50px;
    right: 0px;
}
.form-select{
    width: 100px;
    overflow-y: hidden;
    text-align: center;
    outline: none;
    background-color: transparent;
}
textarea{
    width: 580px;
    height: 100px;
}     
/* @media screen and (max-width: 480px){
 
}
@media screen and (max-width: 1600px){
.review{
    width: 600px;
    border: 1px white solid;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
}
.userButton{
    position: absolute;
    bottom: -50px;
    right: 0px;
}
.form-select{
    width: 100px;
    overflow-y: hidden;
    text-align: center;
    outline: none;
    background-color: transparent;
}
textarea{
    width: 580px;
    height: 100px;
}      
} */
