.light{
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  padding-top: 70px;
}
.light a{
  color: '#61dafb';
}
.dark{
  background-color: #949aa6;
  color: #30446C;
  min-height: 100vh;
  padding-top: 70px;
}
.dark a{
  color: #243860;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.review{
  width: 600px;
  border: 1px white solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}
.reviewName {
  text-align: left;
}
.fa-sun, .fa-moon {
  position: absolute;
  top: 40px;
  right: 50px;
}