*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  position: relative;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-bottom: 30px;
}
.light{
  background-color: #282c34;
  color: white;
  padding-top: 60px;
}
.light a{
  color: '#61dafb';
}
.dark{
  background-color: #949aa6;
  color: #30446C;
  padding-top: 60px;
}
.dark a{
  color: #243860;
}
.App-link {
  color: #61dafb;
}
.review{
  width: 600px;
  border: 1px white solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}
.reviewName {
  text-align: left;
}
.input-group{
  width: 180px;
}
.input-group-text{
  width: 75px;
}
.fa-heart{
  margin-left: 5px;
}
.likes{
  text-align: right;
}
/* @media screen and (max-width: 1600px){

}
@media screen and (max-width: 480px){
  .App{
    position: relative;
  }
  header{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 30px;
  }
  .light{
    background-color: #282c34;
    color: white;
    padding-top: 60px;
  }
  .light a{
    color: '#61dafb';
  }
  .dark{
    background-color: #949aa6;
    color: #30446C;
    padding-top: 60px;
  }
  .dark a{
    color: #243860;
  }
  .App-link {
    color: #61dafb;
  }
  .review{
    width: 400px;
    border: 1px white solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
  }
  .reviewName {
    text-align: left;
  }
  .input-group{
    width: 130px;
  }
  .input-group-text{
    width: 65px;
    font-size: 13px;
  }
  .form-control{
    font-size: 11px;
  }
  .fa-heart{
    margin-left: 5px;
  }
  .likes{
    text-align: right;
  }
  .btn-primary{
    width: 65px;
    font-size: 13px;
  }
}
@media screen and (max-width: 320px){
  .App{
    position: relative;
  }
  header{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 30px;
  }
  .light{
    background-color: #282c34;
    color: white;
    padding-top: 60px;
  }
  .light a{
    color: '#61dafb';
  }
  .dark{
    background-color: #949aa6;
    color: #30446C;
    padding-top: 60px;
  }
  .dark a{
    color: #243860;
  }
  .App-link {
    color: #61dafb;
  }
  .review{
    width: 400px;
    border: 1px white solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
  }
  .reviewName {
    text-align: left;
  }
  .input-group{
    width: 180px;
  }
  .input-group-text{
    width: 75px;
  }
  
  .fa-heart{
    margin-left: 5px;
  }
  .likes{
    text-align: right;
  }
} */