*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.reviewP{
  width: 600px;
  margin: auto;
}  
/* @media screen and (max-width: 1600px){

}
@media screen and (max-width: 480px){
.reviewP{
  width: 400px;
}  
} */